
<nav class="navbar navbar-default navbar-inverse  navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">ToDo</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="navbar-form">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                </li>
                <li><a href="#" ng-click="model.logout()">Logout</a></li>
                <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li><a href="#">Action</a></li>-->
                        <!--<li><a href="#">Another action</a></li>-->
                        <!--<li><a href="#">Something else here</a></li>-->
                        <!--<li role="separator" class="divider"></li>-->
                        <!--<li><a href="#">Separated link</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="panel panel-default panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading">
        Tasks
        <a href="" data-toggle="modal" data-target="#addTask">
            <span class="glyphicon glyphicon-plus pull-right" style="color:white;" aria-hidden="true"></span>
        </a>
    </div>


    <!-- Table -->
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>Title</th>
            <th>Date</th>
            <th class="text-center">Favourite</th>
            <th class="text-center">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="task in model.tasks">
            <td><input type="checkbox"></td>
            <td>{{task.title}}</td>
            <td>{{task.dueDate}}</td>
            <td class="text-center"><a href=""><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span></a></td>
            <td class="text-center"><a href="" ng-click="model.deleteTask(task)"><span class="glyphicon glyphicon-trash" style="color:red;" aria-hidden="true"></span></a></td>
        </tr>
        </tbody>
    </table>
</div>



<div class="modal fade" id="addTask" role="dialog" data-backdrop="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header-task">
                <h5 class="modal-title" id="exampleModalLabel">Add Task</h5>
            </div>
            <div class="modal-body">
                <form name="loginform" ng-submit="model.addTask(model.task)" data-toggle="validator">

                    <div class="form-group">
                        <label for="inputTitle" class="control-label">Name</label>
                        <input type="text"
                               ng-model="model.task.title"
                               class="form-control"
                               id="inputTitle"
                               placeholder="Task Title"
                               data-error="Title is required" required>
                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group">
                        <label for="inputDate" class="control-label">Due Date</label>
                        <input class="form-control"
                               name="inputDate"
                               id="inputDate"
                               ng-model="model.task.dueDate"
                               placeholder="inputDate"
                               type="date" data-error="Proper date format is required"/>
                        <div class="help-block with-errors"></div>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block">
                        Add
                    </button>

                    <a class="btn btn-danger btn-block" data-dismiss="modal">
                        Cancel
                    </a>

                </form>
            </div>
        </div>
    </div>
</div>
