<div class="container">
    <form name="loginform" class="form-signin" ng-submit="model.login(model.user)">
        <h1 class="form-signin-heading">Login</h1>
        <hr>

        <div class="form-group">
            <label for="inputEmail"
                   class="control-label">Email</label>
            <input type="email"
                   ng-model="model.user.username"
                   class="form-control"
                   id="inputEmail"
                   placeholder="User Email"
                   data-error="Please enter email in proper format" required>
        </div>

        <div class="form-group">
            <label for="inputPassword"
                   class="control-label">Password</label>
            <input type="password"
                   ng-model="model.user.password"
                   class="form-control"
                   id="inputPassword"
                   placeholder="Password"
                   data-error="Password is required" required>
        </div>

        <div ng-show="model.error" class="alert alert-danger">
            {{model.error}}
        </div>

        <button type="submit" class="btn btn-success btn-block">
            Login
        </button>

        <a class="btn btn-primary btn-block"
           href=""
           ng-click="model.register()"
           target="_self">
            Register
        </a>
    </form>
</div>